body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.carre {
  display: inline-block;
  width:200px;
  height:200px;
  background-color:#ccc;
  cursor:pointer;
}

.bleu {
  background-color:blue;
}
.rouge {
  background-color:red;
}
.vert {
  background-color:green;
}
.jaune {
  background-color:yellow;
}